/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class] {
  color: var(--red);
}

li[class="dog"] {
  color: var(--violet);
}

li[id="cat"] {
  color: var(--teal);
}

li[class="parrot"] {
  color: var(--green);
}

li[class="donkey"] {
  color: var(--magenta);
}

li[class="hedgehog"] {
  color: var(--violet);
}

li[class="cat dog parrot"] {
  color: var(--magenta);
}

/* Use descendant, child, and sibling selectors for the second part */

.list-food li:nth-child(1){
  color: var(--green);
}

.list-food li:nth-child(2){
  color: var(--darkmagenta);
}

.list-food li:nth-child(3){
  color: var(--magenta);
}

.list-food li:nth-child(4){
  color: var(--darkmagenta);
}

.list-cleaning li {
  color: var(--green);
}

section li {
  color: var(--green);
}
