.container {
  width: 600px;
  margin: 40px auto;
}

p::first-letter {
  font-size: 2em;  /* Makes the first letter twice as large as the normal text */
  font-weight: bold;  /* Makes the first letter bold */
}