:root {
  --darkviolet: #9400d3;
  --maroon: #800000;
  --darkgolden: #8f6805;
}

.box {
  padding: 10px;
  color: var(--white);
}

.static {
  background-color: var(--darkviolet);
  position: static;
  width: 45vw;
  height: 45vh; 
  margin-top: 11vh;
  margin-left: 0;
}

.relative {
  background-color: var(--purple);
  position: relative;
  width: 45vw; 
  height: 45vh; 
  margin-left: 55vw;
  margin-top: 5vw;
}

.absolute {
  background-color: var(--maroon);
  position: absolute; 
  top: 0;
  width:100%;
}

.fixed {
  background-color: var(--darkgolden);
  position: fixed; 
  bottom: 0;
  width:100%;
}
